<div class="hero hero-about" style="background-image: url(../../assets/home-bg.png);">
    <div class="hero-overlay bg-black bg-opacity-60 z-0"></div>
    <div class="hero-content w-1/2 text-center text-white z-10 pt-32">
        <div class="">
            <h1 class="mb-5 text-5xl text-cabinet font-thin">About Us</h1>
            <p class="mb-5 text-cabinet">Welcome to Gourmet Treats, your gateway to a culinary adventure in the heart of
                South Africa! At Gourmet Treats, we are passionate about transforming your kitchen into a haven of
                flavors, aromas, and culinary delights. Our dedicated team of expert chefs is here to offer you a unique
                cooking experience that goes beyond the ordinary.</p>
        </div>
    </div>
</div>
<div class="container text-center mx-auto mt-10">
    <p class="mb-5 text-cabinet">
        Indulge in the art of gastronomy as we bring the finest South African ingredients to your table. From
        traditional dishes to modern culinary creations, Gourmet Treats is your partner in crafting memorable meals for
        any occasion. Whether you're a cooking enthusiast or someone looking to elevate your home dining experience,
        we've got the perfect recipe for you.
    </p>
    <p class="mb-5 text-cabinet">
        Discover the joy of cooking with our personalized cooking services. Our chefs will guide you through every step,
        sharing their expertise and passion for South African cuisine. We believe that good food brings people together,
        and at Gourmet Treats, we're dedicated to creating culinary moments that will be cherished for a lifetime.
    </p>
    <p class="mb-5 text-cabinet">
        Join us on a journey of flavors, where the rich tapestry of South African cuisine unfolds in your kitchen.
        Explore, create, and savor the magic of Gourmet Treats – where every meal is a masterpiece!
    </p>
</div>