.home-link {
    position: relative;
    margin-top: 30px;
    &::after {
        content: '';
        width: 100%;
        transform-origin: center;
        transition: all .5s ease-in-out;
        height: 1px;
        position: absolute;
        background-color: #fff;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
    }
    &:hover::after{
        transform: scaleX(1);
    }
}

.hero{
    background-position-y: 10%;
}

@media screen and (max-width: 991px){
    .timeline-vertical li{
        display: block;
        & .timeline-middle, hr{
            display: none;
        }
    } 
    
}

